.DS_Store
node_modules
/Part_1
/Part_2
/Part_3
/Part_4
/Part_5
/Part_6
/Part_7

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*